<!--<div class="hero-unit">
	<h2>Legg til navn</h2>
	<input type="text" placeholder="Navn">
	<p>
		<h2>Lag nytt passord</h2>
		<input type="password" placeholder="Nytt passord"><br />
		<input type="password" placeholder="Gjenta passord">
	</p>
	<button>Oppdater</button>
</div>-->

<div class="hero-unit">
	<h1>Legg til salg</h1>
	<label>Kampanje</label><br />
	<select>
		<option value="1">Tour de Tryg</option>
		<option value="2">Tour de Tryg</option>
		<option value="3">Tour de Tryg</option>
	</select><br />
	<input type="number" placeholder="Sum av salg i NOK">
	<button>Lagre salg</button>
</div>
