<!--<div class="hero-unit">
	<h2>Legg til navn</h2>
	<input type="text" placeholder="Navn">
	<p>
		<h2>Lag nytt passord</h2>
		<input type="password" placeholder="Nytt passord"><br />
		<input type="password" placeholder="Gjenta passord">
	</p>
	<button>Oppdater</button>
</div>-->

<div class="content">
	<a href="#" data-ng-click="logOut()" data-ng-show="loggedIn">Logg ut</a>
	<h3 class="bold">Hei {{user.name}}</h3>
	<h4>Registrer salg</h4>
	<form name="newSale" data-ng-submit="addSale(newSale)">
		<div data-ng-show="(goalDay > 0)">
			<div class="field">
				<input data-ng-model="salesAmount" name="salesAmount" type="number" placeholder="Sum av salg i NOK" class="xwide text input" required>
			</div>
			<div class="medium primary btn" data-ng-click="addSale(newSale)">
			  <a href="">Lagre salg</a>
			</div>
		</div>
		<div data-ng-show="(goalDay <= 0)">
			<span class="error">Din teamleder må sette salgsmål før du kan registere salg</span>
		</div>
		<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
	</form>
	<div class="{{feedback.status}} alert">
		{{feedback.message}}
	</div>
	<hr>
	<h4>Måloppnåelse</h4>
	<p>Totalt salg i dag: {{salesSum}} kroner</p>
	<p>Totalt salg i kampanjen: {{salesSum}} kroner</p>
	<div class="row goal" style="margin-bottom: 2px;">
		<span class="two columns me">Meg: </span>
		<div class="five columns progressWrapper">
			<div class="progress" data-ng-style="userProgress">
			</div>
		</div>
		<div class="four columns progressWrapper">
			<div class="progress overGoal" data-ng-style="userProgressOverGoal">
			</div>
		</div>
	</div>
	<div class="row goal">
		<span class="two columns me">Team: </span>
		<div class="five columns progressWrapper">
			<div class="progress" data-ng-style="teamProgress">
			</div>
		</div>
		<div class="four columns progressWrapper">
			<div class="progress overGoal" data-ng-style="teamProgressOverGoal">
			</div>
		</div>
	</div>
	<hr>
	<div>
		<a data-ng-repeat="(key, value) in campaigns" target="_blank" data-ng-href="#/campaignView/{{key}}">Link til kampanjevisning: {{value.name}}</a>
	</div>
	<div data-ng-show="user.admin" class="adminLinks">
		<h4>Admin</h4>
		<h5>Linker til kampanjeadmin</h5>
		<a data-ng-repeat="(key, value) in campaigns" data-ng-href="#/campaign/{{key}}">{{value.name}}</a>
		<h5>Brukeradmin</h5>
		<a data-ng-href="#/user">Brukere</a>
		<hr>
	</div>

	<h4>Mine salg</h4>
	<div ng-repeat="dates in user.sales2.dates">
		<div class="row sale" data-ng-repeat="sale in dates | orderBy:campaign:true">
			<h5 class="three columns">{{sale.amount}},00</h5>
			<h6 class="six columns">{{sale.campaignName}}, {{sale.date | date:'medium'}}</h6>
		</div>
	</div>
	<!--<div class="row sale" data-ng-repeat="sale in user.sales | orderBy:campaign:true">
		<h5 class="three columns">{{sale.amount}},00</h5>
		<h6 class="six columns">{{sale.campaignName}}, {{sale.date | date:'medium'}}</h6>

		<button data-ng-click="deleteSale(sale.id)" class="one columns">SLETT</button>
	</div>-->
</div>
