<!--<div class="hero-unit">
	<h2>Legg til navn</h2>
	<input type="text" placeholder="Navn">
	<p>
		<h2>Lag nytt passord</h2>
		<input type="password" placeholder="Nytt passord"><br />
		<input type="password" placeholder="Gjenta passord">
	</p>
	<button>Oppdater</button>
</div>-->

<div class="content">
	<a href="#" ng-click="logOut()" ng-show="loggedIn">Logg ut</a>
	<h1>Hei {{user.name}}</h1>
	<h4>Registrer salg</h4>
	
	<div class="field">
	  <div class="picker">
	    <select ng-model="campaignId" ng-options="k as v.name for (k,v) in campaigns">
			<option value="">Velg kampanje ...</option>
		</select>
	  </div>
	</div>
	<div class="field">
		<input ng-model="salesAmount" type="text" placeholder="Sum av salg i NOK" class="xwide text input">
	</div>
	<div class="medium primary btn" ng-click="addSale()">
	  <a href="">Lagre salg</a>
	</div>
</div>
